.float-alert{
  /*position:absolute;
  margin:15% 00% 0% 40%;
  z-index:200;*/
}

#image-thumbnail{
  /*max-width:15vh;*/
  /*height:auto;*/
  /*padding-left:0px;*/
  /*background-image:url(assets/160x120.png);*/
  /*float:left;*/
  /*position:inherit;  */
  width:  160px;
  height: 123px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-thumbnail-detailed{
  width:100%;
}

/****************************   IU BRAND OVERRIDE  *******************************/
#branding-bar {
  position: initial;
}
