<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" />
  <title>AVL Showcase Prototype</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link type="text/css" rel="stylesheet" href="https://assets.iu.edu/brand/3.x/brand.css" />
  <link type="text/css" rel="stylesheet" href="https://assets.iu.edu/brand/legacy/brand.css" />

  <link type="text/css" rel="stylesheet" href="bootstrap.min.css" />
  <!--<link type="text/css" href="//assets.iu.edu/web/3.x/css/iu-framework.min.css">-->

  <!--  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    -->


  <link type="text/css" rel="stylesheet" href="custom.css" />
  <script type="application/javascript" src="angular.js"></script>
  <script type="application/javascript" src="app.js"></script>
  
</head>

<body>
  <div class="container">
    <div ng-controller="GuestbookController as guestbookCtlr">
      <div class="header clearfix">
        <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
          <div class="bar">
            <div class="wrapper">
              <p class="campus">
                <a href="https://www.indiana.edu" title="Indiana University Bloomington">
                  <img src="//assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt="" />
                  <span class="show-on-desktop" itemprop="name">Indiana University Bloomington</span>
                  <span class="show-on-tablet" itemprop="name">Indiana University Bloomington</span>
                  <span class="show-on-mobile" itemprop="name">IU Bloomington</span>
                </a>
              </p>
              <nav clsas="navbar navbar-default">
                <button type="button" class="btn btn-sm btn-warning navbar-btn" ng-click="guestbookCtrl.isAuthorized.admin = !guestbookCtrl.isAuthorized.admin">Admin Mode</button>

                <div ng-show="guestbookCtrl.isAuthorized.admin">
                  <button type="button" class="btn btn-sm btn-warning navbar-btn bring-forward" ng-click="addProject = !addProject">Add Projects</button>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <center>
          <h1 class="">AVL Showcase</h1>
        </center>
        <div class="row">
          <div class="col col-sm-6 col-sm-offset-5">
            <form id="search-form" class="form-inline clearfix">
              <div class="form-group">
                <input type="text" class="form-control" id="query_string" ng-model="search.query_string" placeholder="Search projects" />
                <button type="button" class="btn btn-danger" ng-if="search.query_string.length > 0" ng-click="guestbookCtlr.clearSearch()">x</button>
              </div>
            </form>
          </div>
        </div><!--row-->
        <!--Alerts-->
        <div class="row">
          <div class=" col col-sm-2 col-sm-offset-5 alert alert-success" role="alert" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="showSuccessAlert = !showSuccessAlert">×</button>
            <strong>Done!</strong> {{successTextAlert}}
          </div>
          <div class=" col align-self-center alert alert-danger" role="alert" ng-show="showFailAlert">
            <button type="button" class="close" data-ng-click="showFailAlert = !showFailAlert">×</button>
            <strong>Oh no!</strong> {{failTextAlert}}
          </div>
        </div>

      </div>
      <!--header-->
      <div class="push-down"></div>
      <div class="row marketing">
        <div class="stop-clicks" ng-class="{ 'hidden': !addProject }">
          <div ng-class="addProject ? 'add-project' :'add-project-hidden'">
            <form name="mainForm" class="form-horizontal" novalidate>
              <div class="row">
                <h1 class="col-sm-6">Add New Project</h1>
                <button type="button" class="col-lg-1 col-lg-offset-5 btn btn-sm btn-danger" ng-click="addProject =! addProject">X</button>
              </div>
              <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
                <label class="col-sm-1 control-label">Title</label>
                <div class="col-sm-5">
                  <input  type = "text"
                          class = "form-control"
                          id="title"
                          name = "uTitle"
                          ng-model = "formdata.title"
                          required="">
                  <div ng-show="mainForm.$submitted || mainForm.uTitle.$touched">
                    <div ng-show="mainForm.uTitle.$error.required" class="help-block">Please choose a title.</div>
                  </div>
                </div>


                <div>
                  <div class="btn-group">
                    <button class="btn btn-primary">Campus</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="campus in campuses">
                        <input type="checkbox" id="{{campus.id}}" value="{{campus.id}}" ng-model="formdata.campus_checkbox[$index].checked">
                        <label for="{{campus.id}}">{{campus.name}}</label>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-primary">Category -----------</button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="category in categories">
                        <input type="checkbox" id="{{cateogry.id}}" value="{{category.id}}" ng-model="formdata.category_checkbox[$index].checked">
                        <label for="{{category.id}}">{{category.name}}</label>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-primary">Discipline -------------------------------------------------- </button>
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="discipline in disciplines">
                        <input type="checkbox" id="{{discipline.id}}" value="{{discipline.id}}" ng-model="formdata.discipline_checkbox[$index].checked">
                        <label for="{{discipline.id}}">{{discipline.name}}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
                <label class="col-sm-1 control-label">Project Description</label>
                <div class ="col-sm-10">
                  <textarea class="form-control" id="description" rows="4" ng-model="formdata.description" name="uDescription" placeholder="Enter a short description of the project"></textarea>
                  <div ng-show="mainForm.$submitted || mainForm.uDescription.$touched">
                    <div ng-show="mainForm.uDescription.$error.required" class="help-block">Please type a description.</div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
                <label class="col-sm-1 control-label" class="help-block">Year</label>
                <div class="col-sm-10">
                  <input  type = "text"
                          class = "form-control"
                          id="year"
                          name = "uYear"
                          ng-model = "formdata.year"
                          placeholder="Enter year as YYYY"
                          required="">
                  <div ng-show="mainForm.$submitted || mainForm.uYear.$touched">
                    <div ng-show="mainForm.uYear.$error.required" class="help-block">Please choose a year.</div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
                <label class="col-sm-1 control-label">URL</label>
                <div class="col-sm-10">
                  <input  type = "text"
                          class = "form-control"
                          id="URL"
                          name = "uURL"
                          ng-model = "formdata.URL"
                          placeholder="Enter the project page URL"
                          required="">
                  <div ng-show="mainForm.$submitted || mainForm.uURL.$touched">
                    <div ng-show="mainForm.uURL.$error.required" class="help-block" >Please share a URL.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label">People</label>
                <button class="btn btn-default" ng-click="formdata.peopleObjects.push({name_first: '', name_last: ''})">Add person</button>
              </div>
              <div class="form-group" ng-repeat="person in formdata.peopleObjects">
                <label class="col-sm-2 control-label" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">First</label>
                <div class="col-sm-4">
                  <input class="form-control" id="first-name" ng-model="person.name_first" name = "uFirstname" placeholder="First name" />
                  <div ng-show="mainForm.$submitted || mainForm.uFirstname.$touched">
                    <div ng-show="mainForm.uFirstname.$error.required" class="help-block">Please input a first name.</div>
                  </div>
                </div>
                <label class="col-sm-1 control-label" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">Last</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="last-name" ng-model="person.name_last" name = "uLastname" placeholder="Last name" />
                  <div ng-show="mainForm.$submitted || mainForm.uLastname.$touched">
                    <div ng-show="mainForm.uLastname.$error.required" class="help-block">Please input a last name.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">Tags</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="tags" ng-model="formdata.tags" placeholder="Enter tags separated by commas" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">Add an Image</label>
                <input type="file" id="blob" accept="image/*" blob="imagedata" />
                <div class="col-sm-offset-5 col-sm-2">
                    <button type="button" ng-click="guestbookCtlr.resetForm()" class="btn btn-primary">Reset</button>
                    <button type="submit" ng-click="guestbookCtlr.submitForm()" class="btn btn-primary">Submit</button>
                    <!--<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="guestbookCtlr.submitForm(); addProject =! addProject">Submit</button>-->
                </div>
              </div>
            </form>
          </div> <!--addProject-->
        </div><!--Stop Clicks-->
      </div> <!--Row Marketing-->
      <div class="col-lg-12">
        <!--<form id="search-form" class="form-inline clearfix">
            <div class="form-group">
              <input type="text"
                    class="form-control"
                    id="query_string"
                    ng-model="search.query_string"
                    placeholder="Search projects" />
              <button type="button" class="btn btn-danger"
                      ng-if="search.query_string.length > 0"
                      ng-click="guestbookCtlr.clearSearch()">x</button>
            </div>
          </form>-->

        <!--Add new item form-->
        <!--<div ng-show="guestbookCtrl.isAuthorized.admin"
                  ng-include="'edit.html'">
            </div>-->
        <!--End Add new item-->
      </div><!--col-->
      <div class="row marketing">
        <div class="col-sm-12">
          <h2 class="post-item">
            <span ng-show="search.query_string.length > 0">Search Results: </span>{{ projects.length }}
            <ng-pluralize count="projects.length" when="{'0': 'Projects', 'one':'Project', 'other': 'Projects'}"></ng-pluralize>
          </h2>
          <div class="alert alert-info" ng-if="projects.length === 0 && search.query_string.length === 0">Be the first one to post something!</div>
          <div class="alert alert-warning" ng-if="projects.length === 0 && search.query_string.length > 0">No projects for search "{{ search.query_string }}" found.</div>
          <div class="row post-list">
            <div class="col-sm-5 post-item" id="project-{{ project.id }}" ng-repeat="project in projects| startFrom:currentPage*pageSize | limitTo:pageSize track by project.id" ng-include="'project.html'">
            </div>
          </div>
          <div class="col-sm-offset-5 pb-20">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn btn-primary" ng-disabled="currentPage >= projects.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /container -->

  <div class="push-down"></div>
  <footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">

      <p class="tagline">Fulfilling <span>the</span> Promise</p>

      <p class="signature">
        <a href="https://www.iu.edu" class="signature-link">Indiana University</a>
      </p>

      <p class="copyright">
        <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2017 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a>
        </span><span class="hide-on-mobile"> | </span><span class="line-break"><a href="/privacy" id="privacy-policy-link">Privacy Notice</a> | <a href="https://accessibility.iu.edu/help" id="accessibility-link" title="Having trouble accessing this web page because of a disability? Visit this page for assistance.">Accessibility Help</a></span>
      </p>
    </div>
  </footer>
</body>

</html>
