<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" />
  <title>AVL Showcase Prototype</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link type="text/css" rel="stylesheet" href="https://assets.iu.edu/brand/3.x/brand.css" />
  <link type="text/css" rel="stylesheet" href="https://assets.iu.edu/brand/legacy/brand.css" />
  <link type="text/css" rel="stylesheet" href="bootstrap.min.css" />
  <!--<link type="text/css" href="//assets.iu.edu/web/3.x/css/iu-framework.min.css">-->
  <!--  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    -->
  <link type="text/css" rel="stylesheet" href="custom.css" />
  <script type="application/javascript" src="angular.js"></script>
  <script type="application/javascript" src="app.js"></script>
</head>

<body>
  <div class="container">
    <div ng-controller="GuestbookController as guestbookCtlr">
      <div class="header clearfix">
        <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
          <div class="bar">
            <div class="wrapper">
              <p class="campus">
                <a href="https://www.indiana.edu" title="Indiana University Bloomington">
                  <img src="//assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt="" />
                  <span class="show-on-desktop" itemprop="name">Indiana University Bloomington</span>
                  <span class="show-on-tablet" itemprop="name">Indiana University Bloomington</span>
                  <span class="show-on-mobile" itemprop="name">IU Bloomington</span>
                </a>
              </p>
              <nav clsas="navbar navbar-default">
                <button type="button" class="btn btn-sm btn-warning navbar-btn" ng-click="guestbookCtrl.isAuthorized.admin = !guestbookCtrl.isAuthorized.admin">Admin Mode</button>
                <div ng-show="guestbookCtrl.isAuthorized.admin">
                  <button type="button" class="btn btn-primary navbar-btn" ng-click="guestbookCtrl.isAuthorized.edit=!guestbookCtrl.isAuthorized.edit">Add Projects (load template)</button>
                  <!--<button type="button" class="btn btn-primary navbar-btn" ng-click="addProject = !addProject">Add Projects (floating menu)</button>-->
                </div>
              </nav>
            </div>
          </div>
        </div>
        <center>
          <h1 class="">AVL Showcase</h1>
        </center>
        <div class="row">
          <div class="col col-sm-6 col-sm-offset-5">
            <form id="search-form" class="form-inline clearfix">
              <div class="form-group">
                <input type="text" class="form-control" id="query_string" ng-model="search.query_string" placeholder="Search projects" />
                <button type="button" class="btn btn-danger" ng-if="search.query_string.length > 0" ng-click="guestbookCtlr.clearSearch()">x</button>
              </div>
            </form>
          </div>
        </div><!--row-->
        <!--Alerts-->
        <div class="row">
          <div class="col col-sm-2 col-sm-offset-5 alert alert-success float-alert" role="alert" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="showSuccessAlert = !showSuccessAlert">×</button>
            <strong>Done!</strong> {{successTextAlert}}
          </div>
          <div class="col col-sm-2 col-sm-offset-5 alert alert-danger float-alert" role="alert" ng-show="showFailAlert">
            <button type="button" class="close" data-ng-click="showFailAlert = !showFailAlert">×</button>
            <strong>Oh no!</strong> {{failTextAlert}}
          </div>
        </div>
      </div>      
      <div class="push-down"></div>  
        <div ng-if ="!guestbookCtrl.isAuthorized.edit" ng-include="'main.html'"  autoscroll></div>
        <div ng-if ="guestbookCtrl.isAuthorized.edit" ng-include="'edit.html'"  autoscroll></div>  
    </div>
  </div><!-- /container -->


  <div class="push-down"></div>
  <footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">

      <p class="tagline">Fulfilling <span>the</span> Promise</p>

      <p class="signature">
        <a href="https://www.iu.edu" class="signature-link">Indiana University</a>
      </p>

      <p class="copyright">
        <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2017 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a>
        </span><span class="hide-on-mobile"> | </span><span class="line-break"><a href="/privacy" id="privacy-policy-link">Privacy Notice</a> | <a href="https://accessibility.iu.edu/help" id="accessibility-link" title="Having trouble accessing this web page because of a disability? Visit this page for assistance.">Accessibility Help</a></span>
      </p>
    </div>
  </footer>
</body>

</html>
