<div>
  <p class="lead">
    <b>{{ project.title }}</b>
    from <em>{{ project.year }}</em>
  </p>
  <p ng-if="post.image_ref">
    <img ng-src="{{ apiHost }}/image/{{ post.image_ref }}" />
  </p>
  <p class="lead">{{ project.description }}</p>
  <!--<p>Campus: {{project.campus_id}}</p>-->
  <p><ng-pluralize count="project.campus_names.length" when="{1: 'Campus', 'other': 'Campuses', 'NaN': 'error, yo!'}"></ng-pluralize>:
    <span ng-repeat="name in project.campus_names">{{ name }}, </span></p>
  <p>URL: <span class="label label-info">{{ project.url }}</span></p>
  <!--<p class="pull-right">
    <button type="button"
            class="btn btn-sm btn-primary"
            ng-click="guestbookCtlr.editPost(post)" disabled>Edit</button>
    <button type="button"
            class="btn btn-sm btn-danger"
            ng-click="guestbookCtlr.deletePost(post)">Delete</button>
  </p>-->
  <!--<p>
    <button type="button"
            class="btn btn-sm btn-default"
            ng-click="guestbookCtlr.likePost(post)">
      <span class="badge">{{ post.like_count }}</span>
      <ng-pluralize count="post.like_count"
                    when="{'0': 'Likes', 'one': 'Like', 'other': 'Likes'}"></ng-pluralize>
    </button>
  </p>-->
</div>
