

<div class="stop-clicks"  ng-class="{ 'hidden': !showDetails }">


    <div class="row shadow-3 " ng-class="showDetails ? 'project-details' :'project-details-hidden'">
        <div class = "col col-sm-5 addblock">
           <img ng-if="!project.image_ref" src="assets/160x120.png" alt="" class="image-thumbnail-detailed">
           <img ng-if="project.image_ref" ng-src="{{ apiHost }}/image/{{ project.image_ref }}" class="image-thumbnail-detailed">
        </div>
        <div class ="col col-sm-7">
            <h1>
                <b>{{ project.title }}</b>
                from <em>{{ project.year }}</em>
                <button type="button"
                        class="btn btn-sm btn-danger"
                        ng-click="showDetails = !showDetails">Close</button>

            </h1>
            <p class="lead">{{ project.description }}</p>
            <p>
                <ng-pluralize count="project.peopleObjects.length"
                              when="{1: 'Person', 'other': 'People', 'NaN': 'error, yo!'}"></ng-pluralize>:
                <span ng-repeat="person in project.peopleObjects">{{ person.name_first }} {{ person.name_last }}, </span>
            </p>
            <p>
                <ng-pluralize count="project.campus_names.length"
                              when="{1: 'Campus', 'other': 'Campuses', 'NaN': 'error, yo!'}"></ng-pluralize>:
                <span ng-repeat="name in project.campus_names">{{ name }}, </span>
            </p>
            <p ng-if="project.category_names.length">
                <ng-pluralize count="project.category_names.length"
                              when="{1: 'Category', 'other': 'Categories', 'NaN': 'error, yo!'}"></ng-pluralize>:
                <span ng-repeat="name in project.category_names">{{ name }}, </span>
            </p>
            <p ng-if="project.discipline_names.length">
                <ng-pluralize count="project.discipline_names.length"
                              when="{1: 'Discipline', 'other': 'Disciplines', 'NaN': 'error, yo!'}"></ng-pluralize>:
                <span ng-repeat="name in project.discipline_names">{{ name }}, </span>
            </p>
            <p>URL: <a ng-href="{{project.url}}" target="_blank">{{ project.url }}</a></p>
            <p ng-if="project.tags.length">
                <ng-pluralize count="project.tags.length"
                              when="{1: 'Tag', 'other': 'Tags', 'NaN': 'error, yo!'}"></ng-pluralize>:
                <span  class="label label-info"
                       ng-repeat="tag in project.tags">{{ tag }}</span></p>
            <!--<p>ID: <span>{{ project.id }}</span></p>-->
        </div>
    </div><!--END PROJECT DETAILS-->

</div>


<div class ="project-thumbnail shadow-1 row">
    <a href="#" ng-click="showDetails = !showDetails">
        <div class = "col col-sm-5" style="padding-left:0px;">
          <img ng-if="!project.image_ref" src="assets/160x120.png" alt="" class="image-thumbnail">
          <img ng-if="project.image_ref" ng-src="{{ apiHost }}/image/{{ project.image_ref }}" class="image-thumbnail">
        </div>
        <div class ="col col-sm-7">
            <h3>
                <b>{{ project.title }}</b></h3>
            <small class="text-muted">{{ project.description | limitTo: 60 }}{{project.description.length > 20 ? '...' : ''}}</small>
            <p>URL: <a ng-href="{{project.url}}" target="_blank">{{ project.url }}</a></p>
        </div>
    </a>

    <!--Edit Project-->
    <div class ="col col-sm-12" ng-show="guestbookCtrl.isAuthorized.admin">
        <div  ng-init="isEdit=false"
              ng-show="isEdit"
              ng-include="'edit.html'">
        </div>
        <p class="pull-right">
        <button type="button"
                class="btn btn-sm btn-primary"
                ng-click="isEdit = !isEdit">Edit</button>
        <button type="button"
                class="btn btn-sm btn-danger"
                ng-click="guestbookCtlr.deletePost(project)">Delete</button>
        </p>

    </div><!--admin show-->
</div>

