<main role="main" class="no-section-nav">
  
  <!-- <section class="section" ng-if="$ctrl.mode === 'featured'"> -->
  <section class="section">
    <div class ="row pads">
      <div class="grid thirds ">
        <div class="grid-item">
            <div class="featured mint clearfix">
                <a href="" ng-click="$ctrl.searchString='reagan'; $ctrl.updateSearch()">
                  <img class="float-left" src="../assets/icons/vr.png" alt="">
                <div class = "content">
                  <h6 class="title font-white">Virtual Reality</h6>
                  <p class="font-white subheader">"reagan"</p>
                </div>
                </a>
            </div>
        </div>
        <div class="grid-item">
            <div class="featured gold clearfix">
                <a href="" ng-click="$ctrl.searchString='beard'; $ctrl.updateSearch();">
                  <img class="float-left" src="../assets/icons/data.png" alt=""> 
                  <div class = "content">
                  <h6 class="title font-white">Data Visualization</h6>
                  <p class="font-white">"beard"</p>
                 </div>
                </a>
            </div>
        </div>
        <div class="grid-item">
          <div class="featured majestic clearfix">
              <a href="" ng-click="$ctrl.searchString='boyles'; $ctrl.updateSearch()">
                <img class="float-left"  src="../assets/icons/media.png" alt="">
                <div class = "content">
                <h6 class="title font-white">Advanced Media</h6>
                <p class="font-white">"boyles"</p>
              </div>
              </a>
          </div>     
        </div>
        <!-- style="background-image:url(../assets/vr.jpg);"  -->
        <div class="grid-item" >
          <div class="featured midnight clearfix" > 
              <a href="" ng-click="$ctrl.searchString='ar'; $ctrl.updateSearch()">
                <img class="float-left" src="../assets/icons/art.png" alt="">
                <div class = "content">
                <h6 class="title font-white">Immersive Art</h6>
                <p class="font-white">"ar"</p>
                </div>
              </a>
          </div>            
        </div>
      </div>
    </div>
  </section>
<!-- <section class="section" ng-if="$ctrl.mode === 'search'"> -->
    <section class="section">
        <div class="row pad" id="search">
          <form>
            <div class="form-item">
              <div class="form-item-label">
                <label for="search">Search for projects</label>
              </div>
              <div class="form-item-input">
                <input type="text" name="search" id="search" ng-model="$ctrl.searchString" ng-change="$ctrl.updateSearch()" placeholder="Search projects">
              </div>
            </div>
          </form>
        </div>
      </section>
    
  <section class="section">
    <div class="row pad">
      <div class="grid">
        <div class ="grid-item">
          <div class="two-thirds">
            <h2 class="section-title">
              <span ng-show="$ctrl.searchString.length > 0">Search Results: </span>{{ $ctrl.projects.length }}
              <ng-pluralize count="$ctrl.projects.length" when="{'0': 'Projects', 'one':'Project', 'other': 'Projects'}"></ng-pluralize>
            </h2>
          </div>
          <div class="one-third">
            <select class="form-control" ng-model="$ctrl.sortBy">
              <option value="None">-- Select --</option>
              <option value="title">Title</option>
              <option value="year">Year</option>
              <option value="create_time">Created</option>
            </select>
          </div>
        </div>
      </div>
      <div class="alert alert-warning" ng-if="$ctrl.projects.length === 0 && $ctrl.searchString.length > 0">
        No projects found for "{{ $ctrl.searchString }}"
      </div>
      <div class="grid thirds">
        <!--<div class="grid-item" id="project-{{ project.id }}" ng-repeat="project in projects| startFrom:currentPage*pageSize | limitTo:pageSize track by project.id"
          ng-include="'project.html'">
        </div>-->
        <div class="grid-item"
             id="project-{{ project.id }}"
             ng-repeat="project in $ctrl.projects | orderBy:$ctrl.sortBy track by project.id">
          <div class="panel--interactive">
            <a href="#!/projects/{{ project.id }}">
              <figure class="media image">
                <img id="image-thumbnail"
                     ng-if="!project.image_ref"
                     alt=""
                     src="https://placehold.it/160x120">
                <img id="image-thumbnail"
                     ng-if="project.image_ref"
                     ng-style="{'background-image':'url({{$ctrl.apiHost}}/image/{{ project.image_ref }})'}">
              </figure>
              <h2 class="title">{{ project.title }}</h2>
              <p>
                {{ project.description | limitTo: 60 }}{{project.description.length > 20 ? '...' : ''}}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="section">
    <div style="text-align: center">
      <a href="#" class="button " title="Previous" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</a>      {{currentPage+1}}/{{numberOfPages()}}
      <a href="#" class="button " title="Next" ng-disabled="currentPage >= projects.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</a>
    </div>
  </section>-->
</main>
