<main role="main" class="no-section-nav">
  <section class="section">
    <div class="row">
      <form novalidate>
        <h3>Edit Project</h3>
        <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted }">
          <div class="form-item">
            <div class="form-item-label">
              <label for="title">Title</label>
            </div>
            <div class="form-item-input">
              <input type="text" name="uTitle" id="title" ng-model="$ctrl.project.title" required="" placeholder="Enter a title">
            </div>
            <div ng-show="mainForm.$submitted ">
              <div ng-show="mainForm.uTitle.$error.required" class="help-block">Please choose a title.</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-label">
              <label for="select-item-one">Campus</label>
            </div>
            <div class="form-item-input">
              <select-multiple field="campus" options-objects="$ctrl.form.campusCheckboxes" on-update="$ctrl.updateSelect({ field: field, values: selected })"></select-multiple>
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-label">
              <label for="select-item-one">Category</label>
            </div>
            <div class="form-item-input">
               <select-multiple field="category" options-objects="$ctrl.form.categoryCheckboxes" on-update="$ctrl.updateSelect({ field: field, values: selected })"></select-multiple>
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-label">
              <label for="select-item-one">Discipline</label>
            </div>
            <div class="form-item-input">
               <select-multiple field="discipline" options-objects="$ctrl.form.disciplineCheckboxes" on-update="$ctrl.updateSelect({ field: field, values: selected })"></select-multiple>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
          <div class="form-item">
            <div class="form-item-label">
              <label for="description">Description</label>
            </div>
            <div class="form-item-input">
              <textarea id="description" rows="4" ng-model="$ctrl.project.description" name="uDescription" placeholder="Enter a short description of the project"></textarea>
            </div>
            <div ng-show="mainForm.$submitted || mainForm.uDescription.$touched">
              <div ng-show="mainForm.uDescription.$error.required" class="help-block">Please type a description.</div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
          <div class="form-item">
            <div class="form-item-label">
              <label for="year">Year</label>
            </div>
            <div class="form-item-input">
              <input type="text" class="form-control" id="year" name="uYear" ng-model="$ctrl.project.year" placeholder="Enter year as YYYY"
                required="">
            </div>
            <div ng-show="mainForm.$submitted || mainForm.uYear.$touched">
              <div ng-show="mainForm.uYear.$error.required" class="help-block">Please choose a year.</div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">
          <div class="form-item">
            <div class="form-item-label">
              <label for="url">URL</label>
            </div>
            <div class="form-item-input">
              <input type="text" class="form-control" id="URL" name="uURL" ng-model="$ctrl.project.url" placeholder="Enter the project page URL"
                required="">
            </div>
            <div ng-show="mainForm.$submitted || mainForm.uURL.$touched">
              <div ng-show="mainForm.uURL.$error.required" class="help-block">Please share a URL.</div>
            </div>
          </div>
        </div>
        <fieldset class="fieldset">
          <legend>People</legend>
          <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uFirstname.$touched }">
            <div class="grid halves form-item" ng-repeat="person in $ctrl.form.peopleObjects">
              <div class="grid-item">
                <div class="form-item-label">
                  <label>First</label>
                </div>
                <div class="form-item-input">
                  <input type="text" ng-model="person.name_first" name="uFirstname" placeholder="First name" />
                  <div ng-show="mainForm.$submitted || mainForm.uFirstname.$touched">
                    <div ng-show="mainForm.uFirstname.$error.required" class="help-block">Please input a first name.</div>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="form-item-label">
                  <label>Last</label>
                </div>
                <div class="form-item-input">
                  <input type="text" ng-model="person.name_last" name="uFirstname" placeholder="Last name" />
                  <div ng-show="mainForm.$submitted || mainForm.uLastname.$touched">
                    <div ng-show="mainForm.uLastname.$error.required" class="help-block">Please input a last name.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item">
              <br>
              <div class="form-item-input">
                <button class="button invert" ng-click="$ctrl.form.peopleObjects.push({name_first: '', name_last: ''})">Add person</button>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uTags.$touched }">
          <div class="form-item">
            <div class="form-item-label">
              <label for="tags" ng-class="{ 'has-error': mainForm.$submitted || mainForm.uURL.$touched }">Tags</label>
            </div>
            <div class="form-item-input">
              <input-tags tags-array="$ctrl.project.tags" on-update="$ctrl.updateTags(tagsArray)"></input-tags>
            </div>
            <div ng-show="mainForm.$submitted || mainForm.uTags.$touched">
              <div ng-show="mainForm.uTags.$error.required" class="help-block">Please add Tags.</div>
            </div>
          </div>
        </div>
        <fieldset class="fieldset">
          <legend>Image</legend>
          <figure class="media image">
            <img ng-if="$ctrl.project.image_ref" ng-src="{{$ctrl.apiHost}}/image/{{ $ctrl.project.image_ref }}" style="max-height: 500px">
          </figure>
          <div class="form-item">
            <div class="form-item-label">
              <label ng-if="!$ctrl.project.image_ref" for="file-upload">Upload an image</label>
              <label ng-if="$ctrl.project.image_ref" for="file-upload">Replace image</label>
            </div>
            <div class="form-item-input">
              <input type="file" accept="image/*" name="file-upload" id="file-upload" blob="$ctrl.form.imageData" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="content">
      <div class="text-center section bg-gray" ng-if="$ctrl.authentication.isAdmin">
        <h4>Edit this project</h4>
        <ul class="button-group">
          <li>
            <!-- <button class="button invert" ng-click="$ctrl.resetForm()">Reset form</button> -->
            <button class="button" ng-click="$ctrl.submitForm()">Submit changes</button>
          </li>
          <li>
              <!-- <button class="button float-center" ng-click="$ctrl.goToCreated()">Return to project page</button> -->
          </li>
        </ul>
        <div ng-class ="$ctrl.message_style">
            <p>{{$ctrl.info_message}}</p>
            <!-- <button class="button success float-center" ng-click="$ctrl.goToCreated()">View project page</button> -->
        </div>
      </div>
      <div class="section">
        <button class="button" ng-click="$ctrl.goToProjects()">Return to search</button>
      </div>
    </div>
  </section>
</main>
