<main role="main" class="no-section-nav">
  <section class="section">
    <div class="row" id="project">
      <div class="feature">
        <figure class="media image">
          <img ng-if="!$ctrl.project.image_ref" src="https://placehold.it/1024x512" alt="" class="image-thumbnail-detailed">
          <img ng-if="$ctrl.project.image_ref" ng-src="{{$ctrl.apiHost}}/image/{{ $ctrl.project.image_ref }}" class="image-thumbnail-detailed">
        </figure>
        <div class="content">
          <h2 class="title">{{ $ctrl.project.title }}</h2>
          <p>{{ $ctrl.project.description }}</p>

          <dl class="inline">
            <dt>Year</dt>
            <dd>{{ $ctrl.project.year }}</dd>
            <dt>
              <ng-pluralize count="$ctrl.peopleObjects.length" when="{1: 'Person', 'other': 'People', 'NaN': 'error, yo!'}"></ng-pluralize>
            </dt>
            <dd>
              <span ng-repeat="person in $ctrl.peopleObjects">
                {{ person.name_first }} {{ person.name_last }},
              </span>
            </dd>
            <dt>
              <ng-pluralize count="$ctrl.campusNames.length" when="{1: 'Campus', 'other': 'Campuses', 'NaN': 'error, yo!'}"></ng-pluralize>
            </dt>
            <dd>
              <span ng-repeat="name in $ctrl.campusNames">{{ name }}, </span>
            </dd>
            <dt>
              <ng-pluralize count="$ctrl.categoryNames.length" when="{1: 'Category', 'other': 'Categories', 'NaN': 'error, yo!'}"></ng-pluralize>
            </dt>
            <dd>
              <span ng-repeat="name in $ctrl.categoryNames">{{ name }}, </span>
            </dd>
            <dt>
              <ng-pluralize count="$ctrl.disciplineNames.length" when="{1: 'Discipline', 'other': 'Disciplines', 'NaN': 'error, yo!'}"></ng-pluralize>
            </dt>
            <dd>
              <span ng-repeat="name in $ctrl.disciplineNames">{{ name }}, </span>
            </dd>
            <dt>
              <ng-pluralize count="$ctrl.project.tags.length" when="{1: 'Tag', 'other': 'Tags', 'NaN': 'error, yo!'}"></ng-pluralize>
            </dt>
            <dd>
              <span ng-repeat="tag in $ctrl.project.tags">{{ tag }}, </span>
            </dd>
            <dt>URL</dt>
            <dd>
              <a ng-href="{{$ctrl.project.url}}" target="_blank">{{ $ctrl.project.url }}</a>
            </dd>
          </dl>
          <div class="text-center section bg-gray" ng-if="$ctrl.authentication.isAdmin">
            <h4>Modify this project</h4>
            <ul class="button-group cta">
              <li>
                <button class="button invert" ng-click="$ctrl.goToEdit()">Edit project</button>
              </li>
              <li>
                <button class="button invert" ng-click="$ctrl.deleteProject()">Delete project</button>
              </li>
            </ul>
            <div ng-show ="$ctrl.confirmDelete" ng-class ="$ctrl.message_style">
              <h5 class="text-center">{{$ctrl.info_message}}<h1>
              <ul class="button-group">
                <li>
                  <button class="button primary float-center" ng-click="$ctrl.deleteYes()">Yes</button>
                </li>
                <li>
                  <button class="button primary float-center" ng-click="$ctrl.deleteNo()">No</button>
                </li> 
              </ul>
            </div>
            <div ng-show ="$ctrl.acknowledgeDelete" ng-class ="$ctrl.message_style">
              <h5 class="text-center">{{$ctrl.info_message}}<h1>
              <button class="button success float-center" ng-click="$ctrl.deleteAcknowledge()">Continue...</button>
            </div>
          </div>
          <div class="section">
            <button class="button" ng-click="$ctrl.goToProjects()">Return to search</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
